*{

    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(
        to left top, #000000, #447ab8
        );
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

@font-face {
    font-family: f1;
    src: url(./fonts/fuente1.ttf);
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.glass{
    background: white;
    min-height: 90vh;
    width: 90%;
    background: linear-gradient(
        to right bottom,
         rgba(255,255,255,0.7),
         rgba(255,255,255,0.3)
        );
    border-radius: 20px;
    z-index: 0;
    backdrop-filter: blur(1px);
    display: grid;
	grid-gap: 0px;
	grid-template-columns: 0.7fr .1fr 2fr .1fr;
	grid-template-rows: .1fr .4fr .8fr .1fr;
    grid-template-areas: 
    "nav t1 t1 t1"
    "nav l1 contenido l2"
    "nav l1 contenido l2"
    "nav t2 t2 t2"
}


.yo{
    text-transform: uppercase;
    font-weight: 500;
    font-family: f1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.nav{
    
    background: #bedbfc70;
    z-index: 3;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    z-index: 3;
    grid-area: nav;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.3)
    

}

.contenido{
    height: 80vh;
    
    background: #c4dcf19d ;
    backdrop-filter: blur(1rem);
    border-radius: 20px;
    grid-area: contenido;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
}

.yo img{
    margin-top: 20px;
    width: 10rem;
    border-radius: 50%;
    border: rgba(255, 255, 255, 0.438) 1px solid;
    box-shadow: 0px 0px 30px -5px #000;
    
}

.glass .nav ul{   
    font-family: f1;
    font-size: 18px;
    font-weight: bold;
    padding-left: 0%;
    text-align: center;
}

.glass .nav ul li{
    margin-top: 5%;
    padding: .8rem; 
    text-transform: uppercase;

    position: relative;
    overflow: hidden;
    letter-spacing: 2px;
    transition: all 0.4s ease;
    cursor: pointer; 
}    
  
.glass .nav ul li p{
    color: #000000;
    display: block;
}
   
.glass .nav ul li:hover{
    background-color: #1c426d;
}
      
.glass .nav ul li:hover p{
    color: #fff;
}

.glass .nav ul li.active {
   width: 105%;

}
.glass .nav ul li.active{

    background-image: linear-gradient(to right, #1c426d 0%, #1c426de1 90%);
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.616);
}
.glass .nav ul li.active p {
    color: #fff;
 
}


.glass .contenido h2{

    text-align: center;
    font-size: 1.5rem;

}

#contTarIni{
    height: 80vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    font-family: f1;
    font-size: 18px;
    font-weight: bold;   
    padding: 10px;
}
#contTarIni p{
    text-align: center;
    font-family: f1;
    font-size: 18px;
    font-weight: bold;    
}
#contTarIni h2{
    width: 50%;
    padding-bottom: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
#edu{
    width: 100%;
    height: auto;
  
}
#escu {

    float: left;
    width: 45%;
    text-align: center;
    font-family: f1;
    font-size: 18px;
    font-weight: bold;
   
}

#curs{

    float: right;
    width: 45%;
    text-align: center;
    font-family: f1;
    font-size: 18px;
    font-weight: bold;
}

.contTarCono{
    height: 80vh;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px 10px;
}
.contTarCono h2{
    width: 50%;
    padding-bottom: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
 .programacion, .desarolloWeb, .os{
     height: 200px;
 }

/* **** Estilos Conocimiento programacion***** */

.iconosprog{
    display: flex;
    justify-content: center;
  
}

.programacion .icons{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 20px;
    overflow: hidden;
    background: #1c426d60;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}

.programacion .icons:hover{
    width: 200px;
    
    
}

.programacion .icons .icon{
    
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;  
  }

  .programacion .icons .icon i{
      
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }

.programacion .icons .iconc{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;  
}
  .programacion .icons:nth-child(1):hover .icon{
    background: #1c426d;
  }
  .programacion .icons:nth-child(2):hover .icon{
    background: #1c426d;
  }
  .programacion .icons:nth-child(3):hover .icon{
    background: #1c426d;
  }
  .programacion .icons:nth-child(4):hover .icon{
    background: #1c426d;
  }
  .programacion .icons:nth-child(5):hover .icon{
    background: #1c426d;
  }
  
  .programacion .icons:hover .icon i{
    color: #fff;
  }
  .programacion .icons span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .programacion .icons:nth-child(1) span{
    color: #fff;
  }
  .programacion .icons:nth-child(2) span{
    color: #fff;
  }
  .programacion .icons:nth-child(3) span{
    color: #fff;
  }
  .programacion .icons:nth-child(4) span{
    color: #fff;
  }
  .programacion .icons:nth-child(5) span{
    color: #fff;
}

/* **** Estilos Conocimiento Desarrollo WEB***** */

.iconosweb{
    display: flex;
    justify-content: center;
}


.desarolloWeb .icons{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 20px;
    overflow: hidden;
    background: #1c426d60;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}

.desarolloWeb .icons:hover{
    width: 200px;
}

.desarolloWeb .icons .icon{
    
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .desarolloWeb .icons:nth-child(1):hover .icon{
    background: #1c426d;
  }
  .desarolloWeb .icons:nth-child(2):hover .icon{
    background: #1c426d;
  }
  .desarolloWeb .icons:nth-child(3):hover .icon{
    background: #1c426d;
  }
  .desarolloWeb .icons:nth-child(4):hover .icon{
    background: #1c426d;
  }
  .desarolloWeb .icons:nth-child(5):hover .icon{
    background: #1c426d;
  }
  .desarolloWeb .icons .icon i{
      
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .desarolloWeb .icons:hover .icon i{
    color: #fff;
  }
  .desarolloWeb .icons span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .desarolloWeb .icons:nth-child(1) span{
    color: #fff;
  }
  .desarolloWeb .icons:nth-child(2) span{
    color: #fff;
  }
  .desarolloWeb .icons:nth-child(3) span{
    color: #fff;
  }
  .desarolloWeb .icons:nth-child(4) span{
    color: #fff;
  }
  .desarolloWeb .icons:nth-child(5) span{
    color: #fff;
}

/*  ***    **** */

.iconosos{
    display: flex;
    justify-content: center;
  
}

.os .icons{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 20px;
    overflow: hidden;
    background: #1c426d60;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}

.os .icons:hover{
    width: 200px;
    
    
}

.os .icons .icon{
    
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;  
  }

  .os .icons .icon i{
      
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }

.os .icons .iconc{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;  
}
  .os .icons:nth-child(1):hover .icon{
    background: #1c426d;
  }
  .os .icons:nth-child(2):hover .icon{
    background: #1c426d;
  }
  .os .icons:nth-child(3):hover .icon{
    background: #1c426d;
  }
  .os .icons:nth-child(4):hover .icon{
    background: #1c426d;
  }
  .os .icons:nth-child(5):hover .icon{
    background: #1c426d;
  }
  
  .os .icons:hover .icon i{
    color: #fff;
  }
  .os .icons span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .os .icons:nth-child(1) span{
    color: #fff;
  }
  .os .icons:nth-child(2) span{
    color: #fff;
  }
  .os .icons:nth-child(3) span{
    color: #fff;
  }
  .os .icons:nth-child(4) span{
    color: #fff;
  }
  .os .icons:nth-child(5) span{
    color: #fff;
}

@media only screen and (max-width: 550px){

    .glass{
        grid-template-columns: 1fr;
	    grid-template-rows: 1fr 1fr  2fr;
        grid-template-areas: 
    
        "nav"
    
        "contenido";
    }
}