*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(
        to right top, #2D98DB, #73B7E1
        );
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
        to right bottom,
         rgba(255,255,255,0.7),
         rgba(255,255,255,0.3)
        );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    
}

.barra{
    flex: 1;
    display: flex;
    flex-direction: column;

    
    text-align: center;
    background: linear-gradient(
        to right bottom,
         rgba(255,255,255,0.7),
         rgba(255,255,255,0.3)
        );
    border-radius: 2rem;

}

.yo {
    border-radius: 50%;
    padding-top: 20px;
    

}

.glass .barra ul{
    margin-top: 10%;

}

.glass .barra ul li{
    margin-top: 10%;
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}    
  
.glass .barra ul li a{
    color: #000000;
    display: block;
}
  
.glass .barra ul li a .fas{
    width: 25px;
}
  
.glass .barra ul li:hover{
    background-color: #594f8d;
}
      
.glass .barra ul li:hover a{
    color: #fff;
}

.contenido{
    flex: 2;
    display: flex;
}



